.homeSection {
  background-color: rgba(240, 248, 255, 0);
  width: 100%;
  height: 100vh;

  .homeDiv {
    display: flex;
    height: 100%;
    width: 100%;

    .homeText {
      padding: 4rem;
      width: 60%;
      font-family: "Inter", sans-serif;

      .homeMain {
        font-size: clamp(4rem, calc(4vw + 1rem), 6.5rem);
        font-weight: 400;
        color: white;
        filter: drop-shadow(0px 0px 10px #720091);
        letter-spacing: 12px;

        & span {
          font-weight: 100;
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.425));
        }
      }

      .homeSecond {
        width: 90%;
        font-size: clamp(0.8rem, 1rem, 1.1rem);
        font-weight: 100;
        color: white;
        filter: drop-shadow(0px 0px 10px rgba(124, 124, 124, 0.712));
        text-transform: uppercase;
        text-align: justify;
        letter-spacing: 5px;
        margin-top: 2%;
      }

      .buttonDiv {
        margin-top: 5rem; /* Use margin-top em vez de padding */
        gap: 2rem;

        .button {
          padding: 1rem 2rem;
          margin-right: 1rem;
          width: 12rem;
          font-size: 1.4rem;
          font-weight: 300;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5s;
          text-align: center;
        }

        .buttonContact {
          border: 1px solid white;
          color: white;
          background-color: transparent;
          filter: drop-shadow(-15px 15px 2px rgba(255, 255, 255, 0.267));

          &:hover {
            background-color: #ffffff;
            color: black;
            scale: 1.1;
          }
        }

        .buttonProjects {
          border: 1px solid var(--primary-color);
          color: white;
          background-color: var(--primary-color);
          filter: drop-shadow(-15px 15px 2px #72009156);

          &:hover {
            background-color: #ffffff;
            color: var(--primary-color);
            scale: 1.1;
            filter: drop-shadow(-15px 15px 2px #ffffff56);
          }
        }
      }
    }
    .imgDiv {
      height: 90%;
      width: 90%;
      display: flex;
      padding: 3rem 0 0 0;
      justify-content: flex-end;
      padding: 3rem 0 0 0;
      margin-top: 1rem;
      img {
        height: 100%;
        width: auto;
        filter: drop-shadow(0px 0px 50px #720091);
      }
    }
    .imgDivMobile {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .homeDiv {
      flex-direction: column;
      align-items: center;
      padding: 3rem;

      .homeText {
        padding: 6rem 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .homeMain {
          font-size: 10.5vw;
          letter-spacing: 8px;
          font-weight: 300;
          line-height: 5rem;
          letter-spacing: 4px;
        }

        .homeSecond {
          font-size: 1.1rem;
          letter-spacing: 3px;
          text-align: justify;
          border-top: solid 1px white;
          margin-top: 1.5rem;
          padding-top: 1.5rem;
          width: 125%;
        }

        .buttonDiv {
          margin-top: 0rem;
          top: -4rem;
          position: relative;

          .button {
            font-size: 4vw;
            width: 18rem;
            height: 4.5rem;
          }
        }
      }
      .img-pc {
        display: none;
      }

      .imgDivMobile {
        display: block;
        padding: 0;
        top: -6%;
        z-index: -1;
        width: 100vw;
        position: relative;
      }

      .img-mobile {
        display: block;
        width: 100%;
        height: auto;
        filter: drop-shadow(0px 0px 50px #720091);
      }

      .imgDiv {
        display: none;
      }
    }
  }

  @media (max-width: 425px) {
    .homeDiv {
      .homeText {
        padding: 4.5rem 2rem;
        .homeMain {
          font-size: 9.6vw;
          font-weight: 300;
          line-height: 3rem;
          letter-spacing: 4px;
        }

        .homeSecond {
          font-size: 0.8rem;
          letter-spacing: 3px;
          text-align: justify;
          border-top: solid 1px white;
          margin-top: 1.5rem;
          padding-top: 1.5rem;
          width: 125%;
        }

        .imgDiv {
          margin-top: 1.2rem;
        }

        .buttonDiv {
          margin-top: 0rem;
          top: -3rem;
          position: relative;

          .button {
            margin-right: 0;
            font-size: 4vw;
            width: 10rem;
            height: 3.2rem;
          }
        }
      }
    }
  }
}
