@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --primary-color: #710091;
    --secondary-color: #C800FF;
    --thirdy-color: #9B00C6;
    --background-dark-color: #10121A;
    --border-color: #2e344e;
}

body{
    background-image: url(public/img/background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    border: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}